<!DOCTYPE html>
<html>
  <head>
    <title>Plan Me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 h-100" style="border: 1px solid #000; min-height: 100vh; padding: 0">
        <%= render 'shared/nav'%>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
