<!DOCTYPE html>
<html>
  <head>
    <title>Plan Me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 h-100 main-screen">
        <%= render 'shared/nav'%>
        <%if notice %>
        <p class="notice alert alert-success" role="alert"><%= notice %></p>
        <%end%>
        <%if alert%>
        <p class="alert alert-success" role="alert"><%= alert %></p>
        <%end%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
